<div
    class=" flex flex-col bg-white shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-3xl w-50 max-w-md mx-auto my-10">
    <div class="font-medium self-center text-xl sm:text-3xl text-gray-800">
        Create a new product
    </div>

    <div class="mt-10">
        <form action="#">
            <div class="flex flex-col mb-5">
                <label for="email" class="mb-1 text-xs tracking-wide text-gray-600">Title</label>
                <div class="relative">
                    <input id="title" type="text" name="title"
                        class="text-sm placeholder-gray-500 pl-2 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
                        placeholder="Product..." required />
                </div>
            </div>
            <div class="flex flex-col mb-6">
                <label for="password" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">Photo (URL)</label>
                <div class="relative">
                    <input id="photo" type="text" name="photo"
                        class="text-sm placeholder-gray-500 pl-2 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
                        placeholder="URL" />
                </div>
            </div>
            <div class="flex flex-col mb-5">
                <label for="email" class="mb-1 text-xs tracking-wide text-gray-600">Category</label>
                <div class="relative">
                    <input id="category" type="text" name="category"
                        class="text-sm placeholder-gray-500 pl-2 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
                        placeholder="A,B,C" />
                </div>
            </div>
            <div class="flex flex-col mb-5">
                <label for="email" class="mb-1 text-xs tracking-wide text-gray-600">Price</label>
                <div class="relative">
                    <input id="price" type="number" name="price"
                        class="text-sm placeholder-gray-500 pl-2 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
                        placeholder="$..." />
                </div>
            </div>
            <div class="flex flex-col mb-5">
                <label for="email" class="mb-1 text-xs tracking-wide text-gray-600">Stock</label>
                <div class="relative">
                    <input id="stock" type="number" name="stock"
                        class="text-sm placeholder-gray-500 pl-2 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
                        placeholder="10,20,30" />
                </div>
            </div>
            <div class="flex w-full">
                <button type="submit" id="create"
                    class="flex mt-2 items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-500 hover:bg-blue-600 rounded-2xl py-2 w-full transition duration-150 ease-in">
                    <span class="mr-2 uppercase">Create</span>
                    <span>
                        <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>


<div class="flex flex-col items-center bg-white w-[90%] mx-auto mt-4 shadow-2xl">
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8 p-4 justify-items-center"
        id="products">
    </div>
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

<script>
    const socket = io()
    //Get products from backend socket
    socket.on("products", data => {
        let template = ``
        template = data.map(eachProduct => `
        
                <a href="#" class="group">
            <div class="flex justify-center aspect-h-1 aspect-w-1 w-[200px] overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7  bg-cover bg-center p-2">
                <img src=${eachProduct.photo} alt="photo"
                    class="h-[100px] w-auto object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">${eachProduct.title}</h3>
            <p class="mt-1 text-lg font-medium text-gray-900">$ ${eachProduct.price}</p>
        </a>
`
        ).join("")
        document.querySelector("#products").innerHTML = template
    })


    //Form logic 
    document.querySelector("#create").addEventListener("click", (event) => {
        event.preventDefault()
        // Check if title is empty
        const title = document.querySelector("#title").value.trim();
        if (!title) {
            alert("Please provide a title.");
            return; // Stop further execution
        }
        // Create an empty object
        const product = {};
        // Populate the object with values from the form
        product.title = document.querySelector("#title").value;
        product.photo = document.querySelector("#photo").value;
        product.category = document.querySelector("#category").value;
        product.price = document.querySelector("#price").value;
        product.stock = document.querySelector("#stock").value;
        // Log the object to the console
        socket.emit("new product", product);
    });
</script>